# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables
.env

# Chroma database
pdf_qa_db/

# Uploaded files
uploaded_files/
uploaded_pdfs/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db